@model ProyectoIntegrador.Models.Historial
@{
    ViewData["Title"] = "Eliminar";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/EditarDeleteCreateView.js"></script>
    <title>Document</title>
</head>
    <body> @**@
        <h4>¿Está seguro de eliminar este registro de la BD?</h4>
        <hr>
        <h5>Historial 🡣</h5>
        <br>
            <div>
                <dl class="row"> @*Lista de descripcion*@
                    <dt  class = "col-sm-2">@*Texto de descripcion, titulo*@
                        
                        @Html.DisplayNameFor(modelo => modelo.IdHistorial)
                    </dt>
                    <dd class = "col-sm-10">@*element contains data that describes a definition term*@
                        @Html.DisplayFor(modelo => modelo.IdHistorial)
                    </dd>
                
                    <dt class = "col-sm-2">@*Texto de descripcion, titulo*@
                        @Html.DisplayNameFor(modelo => modelo.fecha)
                    </dt>
                    <dd class = "col-sm-10">@*element contains data that describes a definition term*@
                        @Html.DisplayFor(modelo => modelo.fecha)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(modelo => modelo.descripcion)
                    </dt>
                    <dl class = "col-sm-10">
                        @Html.DisplayFor(modelo => modelo.descripcion   )
                    </dl>
                
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(modelo => modelo.usuario)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(modelo => modelo.usuario)
                    </dd>

                </dl>
                <hr>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdHistorial"/>
                        <input type="submit" onclick="Alert()" value="Eliminar" class="btn btn-outline-danger"/> |
                        <a asp-action="Index">Volver</a>
                    </form>
            </div>
    </body>
</html>