@model IEnumerable<ProyectoIntegrador.Models.Historial>
@{
    ViewData["Title"] = "Menú";
}   


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css">
    <title>Document</title>
</head>
<body>
    <header  class="header " >
        <h4>GESTIÓN DE HISTORIAL <i class="bi bi-gear-fill"></i></h4>
    </header>
<br>
<div class="main">
        <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark" style="padding: 10px">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IdHistorial)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.descripcion)
            </th >
            <th scope="col">
                @Html.DisplayNameFor(model => model.usuario)
            </th>
           
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHistorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
             <td class="text-center">
               <a asp-action="Delete" asp-route-id="@item.IdHistorial" class="text-danger"><i class="bi bi-trash-fill"> </i></a>
            </td>
        </tr>
}       
    
    
    </tbody>
</table>
    <div>
        
        <a class="btn btn-secondary" href="http://localhost:5000/Home"><i class="bi bi-backspace"></i> Volver</a>
    </div>
</div>

</body>
</html>