@model IEnumerable<ProyectoIntegrador.Models.Administrador>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Administradores 🡣</h4>
<br>

@using(Html.BeginForm("Index","Administrador", FormMethod.Get))
{   
    <div class="input-group mb-3" >        
         <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
          @Html.TextBox("buscar")<input type="submit" value="Buscar" class="btn btn-secondary" autocomplete="off"/>
     </div> 
}

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Apellido)
            </th >
            <th scope="col">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                <a asp-action="Create" class="btn btn-light"><i class="bi bi-person-plus-fill bi-lg"></i> Nuevo Administrador</a>
            </th>
        </tr>
    </thead>
    <tbody>
            @if (Model.Count() == 0)    
            {
                <tr colspan="1" style="color: red;">
                    <td>
                        No hay una coinciendencia
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                @foreach (var item in Model) {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td >
                <td scope="row" > 
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdAdministrador"><i class="bi bi-pen-fill " ></i></a>
                    <a asp-action="Delete" asp-route-id="@item.IdAdministrador" class="text-danger"><i class="bi bi-trash-fill ml-3"> </i></a>
                    <a asp-action="Details" asp-route-id="@item.IdAdministrador"><i class="bi bi-exclamation-square-fill ml-3"></i></a>
                </td>
            </tr>
        } 
            }
    </tbody>
</table>
</body>
</html>
