@model IEnumerable<ProyectoIntegrador.Models.Rol>
@{
    ViewData["Title"] = "Menú";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>  
        <div class="row">
            <div class="col-2"><h4>Roles 🡣</h4></div>
            <div class="col-8"><p><u>Nunca Eliminar el Rol de un Administrador vigente, favor de editarlo y poner IdRol #1</u></p></div>
        </div>
    </div>
    <br>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.IdRol)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th class="text-center">
                        <a asp-action="Create" class="btn btn-light"><i class="bi bi-person-plus-fill bi-lg"></i> Nuevo Rol</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var item in Model){@*Aqui colocaremos, mas adelante el codigo para mostrar los registros de la base de datos*@
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.IdRol)
                        </td>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.IdRol"><i class="bi bi-pen-fill"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.IdRol" class="text-danger"><i class="bi bi-trash-fill ml-3"> </i></a>
                        </td>
                    </tr>
                }
            </tbody>
</table>

</body>
</html>