@model ProyectoIntegrador.Models.Usuario
@{
    ViewData["Title"] = "Detalles";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/details.css">
    <title>Detalle</title>
</head>
<body>
<div class="containers">
    <header class="header">
        <h4>VISUALIZACIÓN DE USUARIO <i class="bi bi-gear-fill"></i></h4>   
    </header>
            <div class="main">
                <div class="editt">
                    <h5>Usuario ↴</h5>
                    <dl class="row"> @*agregar descripciones*@
                        <dt>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd >
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </dt>
                        <dd >
                            @Html.DisplayFor(model => model.Apellido)
                        </dd>
                        <dt     >
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>
                        <dt >
                            @Html.DisplayNameFor(model => model.Telefono)
                        </dt>
                        <dd >
                            @Html.DisplayFor(model => model.Telefono)
                        </dd>
                        <dt >
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd >    
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt >
                            @Html.DisplayNameFor(model => model.UsuarioDispositivo[0].Dispositivo.Descripcion)
                        </dt>
                        <dd >
                            @Html.DisplayFor(model => model.UsuarioDispositivo[0].Dispositivo.Descripcion)
                        </dd>
                    </dl>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.IdUsuario" class="btn btn-info" style="margin: 0 20px 0px 0px;"><i class="bi bi-pen"></i> Editar</a>
                            <a asp-action="Index"class="btn btn-secondary" ><i class="bi bi-backspace"></i> Volver</a>
                        </div>          
            </div>          
        </div>
</div>      



</body>
</html>